body {
	font-family: Georgia,'Times new roman', serif;
	min-width: 800px;
}
h1 {
	font-size: 1.8em;
	font-weight: normal;
}
h2 {
	font-size: 1.4em;
	font-weight: normal;
	color: #295F54;
}
ul {
	float: right;
	clear: both;
	width: 55%;
	list-style: none;
}
	li {
		float: left;
		height: 190px;
		width: 170px;
		margin: .5em;
		padding: .5em;
		background: #A1CFE9;
		overflow-y: auto;
	}
		li span {
			border-top: 1px dotted #5C8499;
			padding: .2em 0;
			display: block;
		}
pre, div#projects {
	float: left;
	width: 39%;
/*	clear: left;*/
}